{
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",

  "jsxSingleQuote": false
}
